<div class="ml-5">
<h2>
  <td>商品一覧</td>
  <td><%= link_to '＋',  new_admins_item_path,class: "btn btn-outline-secondary text-dark" %></td>
</h2>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to admins_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><%= item.is_sale%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="center-block"><%= paginate @items %></div>
</div>