<h2>商品詳細</h2>


<div>
  <%= attachment_image_tag(@item, :image, :fill, 100, 100) %>
</div>

<div>
  商品名
  <%= @item.name %>
</div>

<div>
  商品説明
  <%= @item.introduction %>
</div>

<div>
  ジャンル
</div>

<div>
  税込価格（税抜価格）
  <%= @item.price %>円
</div>

<div>
  販売ステータス
  <%= @item.is_sale %>
</div>