<div class="container">
  <div class="row">
    <div class="col-10">
    <h2>注文情報確認</h2>
    <!--<table class="table">-->
    <!--<thead>-->
    <!--  <tr>-->
    <!--    <th>商品名</th>-->
    <!--    <th>単価</th>-->
    <!--    <th>数量</th>-->
    <!--    <th>小計</th>-->
    <!--    <th></th>-->
    <!--  </tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--% @sum = 0 %>-->
    <!--% @cart_list.each do |carts| %>-->
    <!--  <tr>-->
    <!--    <td>-->
    <!--      %= attachment_image_tag(carts.item, :image, :fill, 50, 50, fallback: "no_image.jpg") %>-->
    <!--      %= carts.item.name %>-->
    <!--    </td>-->
    <!--    <td>%= carts.item.add_tax_price.to_s(:delimited) %></td>-->
    <!--    <td>%= carts.count %></td>-->
    <!--    <td>%= (carts.subtotal_price).to_s(:delimited) %></td>-->
        <!--%= (carts.item.price).to_i %>*%= (carts.count).to_i %>-->
    <!--    <td>%= link_to '削除', delete_item_path(carts), method: :delete, data: { confirm: '商品をカートから削除しますか？' }, class: "btn btn-sm btn-danger" %></td>-->
    <!--  </tr>-->
    <!--  % @sum += (carts.subtotal_price).to_i %>-->
    <!--% end %>-->
    <!--</tbody>-->
    <!--<table class="table">-->
    <!--  <thead>合計金額</thead>-->
    <!--  <tbody>%= @sum  %></tbody>-->
    <!--</table>-->


    <div>
      <strong>支払い方法</strong>
       <%= @order.payment %>
    </div>

    <div>
    <strong>お届け先</strong>
     <%= @order.post_code %>
     <%= @order.address %>
     <%= @order.name %>
    </div>

    <%= form_with model:@order, url: orders_path, local:true do |f| %>
    <!--%= f.hidden_field :payment %>-->
    <%= f.submit '注文を確定する'%>
    <% end %>
    </div>
  </div>
</div>