<h2>カスタマーのSign upページ</h2>

<!--<#%= form_with model:@custmers,url: custmer_registration_path, id: 'new_custmer', class: 'new_custmer', local:true do |f| %>-->
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/custmers/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"(名前)" %>
    <%= f.label :"(姓)" %>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.label :"(名)" %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"(フリガナ)" %>
    <%= f.label :"(セイ)" %>
    <%= f.text_field :first_kana, autofocus: true %>
    <%= f.label :"(メイ)" %>
    <%= f.text_field :last_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :"電話番号(ハイフンなし)" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
  (<%= @minimum_password_length %>文字以上)
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード (確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "public/custmers/shared/links" %>
