<div class="container">
  <div class="row">
    <h2>ショッピングカート</h2>

    <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価</th>
        <th>数量</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <%= link_to '全て削除する', destroy_all_path, method: :delete, class: "btn btn-danger" %>
    <% @sum = 0 %>
    <% @cart_list.each do |carts| %>
      <tr>
        <td>
          <%= attachment_image_tag(carts.item, :image, :fill, 50, 50, fallback: "no_image.jpg") %>
          <%= carts.item.name %>
        </td>
        <td><%= carts.item.add_tax_price.to_s(:delimited) %>円</td>
        <!--%= carts.count %>-->
        <td>
          <%= form_with model:carts, url:update_item_path(carts), local:true do |f| %>
          <%= f.select :count, [["1", "1"], ["2", "2"],["3", "3"],["4", "4"],["5", "5"]], :prompt => carts.count %>
          <%= f.submit "変更" %>
          <% end %>
        </td>
        <td><%= (carts.subtotal_price).to_s(:delimited) %>円</td>
        <td><%= link_to '削除', delete_item_path(carts), method: :delete, data: { confirm: '商品をカートから削除しますか？' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
      <% (@sum += (carts.subtotal_price)).to_s(:delimited) %>
    <% end %>
    </tbody>


    <table class="table">
      <thead>合計金額</thead>
      <tbody><%= @sum.to_s(:delimited)  %>円</tbody>
    </table>

    <%= link_to '情報入力に進む', select_path, class: "btn btn-success",data: {"turbolinks"=>false} %>
    <!--,data: {"turbolinks"=>false}-->

  </div>
</div>