<div class="container">
  <div class="row">

  <div class='col-3'>
    <table classs="table table-hover">
      <thead>
        <tr>
          <th>ジャンル</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
            <td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class='col-8'>
    <h2>商品一覧</h2><h4>全<%= @all_items.count %>件</h4>


    <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
    <div>
      <%= attachment_image_tag(item, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
      <p><%= item.name %></p>
      <%= item.price %>円
      <!--%= item.add_tax_price.to_s(:delimited) %> 円-->


    </div>
    <% end %>
g
  </div>

  </div>
</div>