<div class="container">
  <div class="row">


    <div class='col-3'>
    <table class="table border">
          <tr><th>ジャンル</th></tr>
          <% @genres.each do |genre| %>
          <tr ><td><%= genre.name %><td></tr>
          <% end %>
    </table>
  </div>

    <div class = "col-4">
      <div>
        <%= attachment_image_tag(@item, :image, :fill, 300, 300) %>
      </div>
    </div>

    <div class = "col-4">
      <div class= "name my-auto">
        <h4><%= @item.name %></h4>
      </div>

      <div>
        <%= @item.introduction %>
      </div>

      <div class= "price mt-5">
        <h5>¥<%= @item.add_tax_price.to_s(:delimited) %>円(税込）</h5>
      </div>

      <div class= "btn my-3">
      <%= form_with model:@cart, url: carts_path, local:true do |f| %>
      <%= f.select :count, [["1", "1"], ["2", "2"],["3", "3"],["4", "4"],["5", "5"]] %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.submit 'カートに入れる', class: "btn btn-success " %>
      <% end %>
      </div>
    </div>
  </div>
  </div

